@import url("bootstrap-icons.css");

html {
    font-size: min(4vw, 26px);
}

:root {
    --border-light-color: #ccc;
    --main-box-margin: 2px;
    --inner-box-margin: 1px;
    --box-border-width: 2px;
}

* {
    transition: all .3s ease-out;
    transition: transform .8s ease-out;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    color: #444444;
    background-color: beige;
}

#menu {
    align-self: center;
    width: auto;
    z-index: 1;
}

.hidden {
    opacity: 0;
}

.winner {
    background-color: goldenrod;
    transition: all 0.5s cubic-bezier(0.5, -0.5, 0.5, 2);
    border: 0;
    box-shadow: 0px 0px 5vmin 0px gold;
    border-radius: 5%;
}

.winner2 {
    box-shadow: 0px 0px 1vmin 0px gold;
    border: 2px solid gold !important;
}

.success {
    background-color: goldenrod;
    transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 2);
}

#clear_div, #all_words_div {
    font-size: min(6vw, 28px);
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    flex-wrap: wrap;
    z-index: 2;
}

#all_words_div div {
    border: 1px dotted #555;
    margin: 1vw;
    padding: 0 1vw;
    background-color: #eeee;
    display: inline-block;
    cursor: pointer;
}
#all_words_div div span:first-of-type {
    border-right: 1px solid #8888;
}
#all_words_div div.solved {
    background-color: hsl(140 100% 80%);
    border-style: solid;
}

#all_words_div div.selected {
    background-color: hsl(140 100% 40%);
    border-style: solid;
}

#all_words_div div.effect {
    background-color: gray;
    transition: all 0.1s cubic-bezier(0.5, -0.5, 0.5, 2);
}
#continue {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 10;
}
#stats {
    font-size: min(3vmin, 18px);
    font-weight: 400;
    position: fixed;
    bottom: 1.5vmax;
    left: 1.5vmax;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2vmin;
    grid-row-gap: 0;
    max-width: 25%;
    z-index: 1;
}

#stats span:nth-child(even) {
    text-align: end;
}

#seed, #version {
    font-weight: 400;
    font-size: min(2.5vmax, 24px);
    position: fixed;
    bottom: 1.5vmax;
    right: 1.5vmax;
    cursor: pointer;
    color: dodgerblue;
    z-index: 1;
}
#version {
    font-size: min(3vmin, 18px);
    right: 50vw;
    transform: translateX(50%);
    transition: none;
}
#share-url {
    position: absolute;
    top: -1000px;
}